<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chat</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        {{{body}}}
        <hr>
        <footer>
            <p>&copy; Chat</p>
        </footer>
    </body>
</html>     